<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wbq.acgback.web.sys.mapper.SysPermMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.wbq.acgback.web.sys.entity.SysPerm">
        <id column="id" property="id" />
        <result column="perm_name" property="permName" />
        <result column="perm_desc" property="permDesc" />
        <result column="perm_value" property="permValue" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="is_disable" property="isDisable" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, perm_name, perm_desc, perm_value, create_time, update_time, is_disable
    </sql>

</mapper>
